/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #1E2127FF;
    background-alt: #282B31FF;
    foreground:     rgb(191, 24, 233);
    selected:       rgb(105, 43, 116);
    active:         #98C379FF;
    urgent:         #E06C75FF;
}
