/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     rgba(30, 33, 39, 0.21);
    background-alt: #282B31FF;
    foreground:     #FFFFFFFF;
    selected:       rgb(249, 249, 249);
    active:         #98C379FF;
    urgent:         #E06C75FF;
}
